<script type="text/javascript" charset="utf-8">
    $(function () {
        $("#menu").menu();
    });
</script>

<ul class="menu boxed">
  <li id="welcome_li"><a href="/"><i class="glyphicon glyphicon-home"></i> &nbsp;主页</a></li>

  <li><a href="#">订餐管理 &nbsp;<i class="glyphicon glyphicon-chevron-down" style="font-size: .8em;color:black;"></i></a>
    <ul>
      <%# if current_user.permission?(:view_report) %>
          <li><a href="<%= orders_path %>">订餐记录</a></li>
          <li><a href="<%= menus_path %>">本周菜单</a></li>
      <%# end %>
    </ul>
  </li>


  <li><a href="#">考勤管理 &nbsp;<i class="glyphicon glyphicon-chevron-down" style="font-size: .8em;color:black;"></i></a>
    <ul>
      <%# if current_user.permission?(:view_report) %>
      <li><a href="<%= attendance_notes_path %>">考勤记录</a></li>
      <%# end %>
    </ul>
  </li>


  <li>
    <a href="#">管理 &nbsp;<i class="glyphicon glyphicon-chevron-down" style="font-size: .8em;color:black;"></i></a>
    <ul>
      <li id='user_li'><a href="<%= users_path %>">员工管理</a></li>
    </ul>
  </li>


  <li>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  </li>
</ul>
