<style>
    .col-sm-12 {
        height: 40px;
        line-height: 40px;
    }

    input[type='number'],.datepicker {
        width: 150px;
    }

    .up_search {
        text-align: right;
        cursor: pointer;
        margin-bottom: 10px;
        margin-top: -40px;
    }

    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
    }
    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }
</style>

<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">考勤管理</li>
    <li class="active">
      <a href="/attendance_notes">考勤记录</a>
    </li>
  </ol>
</div>

<div class="all-search">
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">

    <div class="col-sm-12">
      <% if current_user.manager? || current_user.admin? %>
          <div class="col-sm-3">
            工号：
            <%= select_tag('attendance_note[user_id]', options_from_collection_for_select(User.all, :id, :name, @user_id), include_blank: true) %>
          </div>
      <% end %>
      <div class="col-sm-3">
        考勤日期：
        <input type="text" name="attendance_note[work_date]" class="datepicker" value="<%= @work_date %>"/>
      </div>


      <div class="col-sm-3">
        <input type="submit" value="查找" class="btn btn-primary" name="search" style="width: 200px;"/>
      </div>

    </div>

  </form>
</div>

<div class="col-sm-12" style="margin-top: 30px;margin-bottom: 20px; width: 98%">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @attendance_notes %>
    </div>
    <%= will_paginate @attendance_notes, :container => false %>
  </div>
</div>


<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>No.</th>
    <th>工号</th>
    <th>考勤日期</th>
    <th>状态</th>
    <th>上班时间</th>
    <th>下班时间</th>
    <th>补打卡时间</th>
    <th>补打卡类型</th>
    <th>备注</th>
    <th>加班时长(h)</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @attendance_notes.each_with_index do |attendance_note, i| %>
      <tr>
        <% if current_user.id == attendance_note.user.id || current_user.admin? %>
            <td><%= i+1 %></td>
            <td><%= attendance_note.user.nr %></td>
            <td><%= attendance_note.work_date.localtime.strftime('%Y-%m-%d') %></td>
            <td><%= AttendanceNoteState.display(attendance_note.status) %></td>
            <td><%= attendance_note.on_duty_time.blank? ? '' : attendance_note.on_duty_time.localtime.strftime('%H:%M:%S') %></td>
            <td><%= attendance_note.off_duty_time.blank? ? '' : attendance_note.off_duty_time.localtime.strftime('%H:%M:%S') %></td>
            <td><%= attendance_note.fill_clock_time.blank? ? '' : attendance_note.fill_clock_time.localtime.strftime('%Y-%m-%d %H:%M:%S') %></td>
            <td><%= FillClockType.display(attendance_note.fill_clock_type) %></td>
            <td><%= attendance_note.remark %></td>
            <td><%= attendance_note.over_times %></td>
            <td>
              <% if attendance_note.status == AttendanceNoteState::INIT && current_user.id == attendance_note.user.id %>
                  <a class="IconA" rel="nofollow" href="<%= clock_in_attendance_note_path(attendance_note) %>" data-method="post" data-confirm="Are you sure?" title="上班">
                    <i class="glyphicon glyphicon-log-in" style="color:darkred;"></i>
                  </a>
              <% end %>
              <% if attendance_note.status == AttendanceNoteState::ON_DUTY && current_user.id == attendance_note.user.id %>
                  <a class="IconA" rel="nofollow" href="<%= clock_out_attendance_note_path(attendance_note) %>" data-method="post" data-confirm="Are you sure?" title="下班">
                    <i class="glyphicon glyphicon-log-out" style="color:darkred;"></i>
                  </a>
              <% end %>

              <% if attendance_note.status != AttendanceNoteState::FILL_CLOCK && current_user.id == attendance_note.user.id %>
                  <button class="btn pop-dialog-btn" data-toggle="modal" data-target="#myModal" title="补打卡" id="<%= attendance_note.id %>">
                    <i class="glyphicon glyphicon-heart" style="color:darkred;"></i>
                  </button>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="text-align:center">补打卡信息</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= form_with(model: @attendance_note) do |f| %>
              <input type="hidden" id="attendance_note_id">
              <p>
                <%= f.label :fill_clock_type, '补打卡类型' %>
                <%= f.select(:fill_clock_type, FillClockType.list, {include_blank: false}, class:'form-control', id: "fill_clock_type") %>
              </p>
              <p>
                <%= f.label :fill_clock_time, "补打卡时间" %><br>
                <%= f.text_field :fill_clock_time, class: "dateptimeicker form-control", id: "fill_clock_time" %>
              </p>
              <p>
                <%= f.label :remark, "备注" %>
                <%= f.text_area :remark, class:'form-control', id: "remark" %>
              </p>

              <%= f.submit "确定", data:{:disable_with => '提交中......'}, class:'btn btn-fill-clock' %>
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="digg_pagination">
  <%= will_paginate @attendance_notes, :container => false %>
</div>

<script>
    $(function () {
        $(".datepicker").datepicker({
            lang: 'ch',
            format: 'Y-m-d'
        });
    });

    $(function () {
        $(".dateptimeicker").datetimepicker({
            lang: 'ch',
            format: 'Y-m-d H:i'
        });
    });

    /*父层dom点击事件*/
    $('.pop-dialog-btn').click(function() {
        console.log('----------------父层dom点击事件------------------')
        var ID = $(this).attr("id");
        console.log(ID)
        $('#attendance_note_id').val(ID);
        console.log('----------------父层dom点击事件------------------')
    });


    /*dialog点击事件*/
    $('.btn-fill-clock').click(function () {
        console.log('----------------dialog点击事件------------------')
        var attendance_note_id = $('#attendance_note_id').val();
        var fill_clock_time = $('#fill_clock_time').val();
        var fill_clock_type = $('#fill_clock_type').val();
        var remark = $('#remark').val();
        console.log(attendance_note_id)
        console.log('----------------dialog点击事件------------------')

        $.ajax({
            url: '/attendance_notes/' + attendance_note_id + '/clock_append',
            type: 'post',
            dataType: "json",
            data: {
                fill_clock_time: fill_clock_time,
                fill_clock_type: fill_clock_type,
                remark: remark
            },
            success: function (data) {
                console.log('----------------success------------------')
                console.log(data)
                console.log('----------------success------------------')

                if (data.result) {
                    window.parent.location.reload();
                } else {
                    alert(data.content);
//                    $("#myModal").modal("hide");
//                    $('.notice').html("attendance_notes Successfully.");
                }
            },
            error: function () {
                console.log("Something Error!");
                $("#myModal").modal("hide");
                $('.notice').html("Something Error!");
            }
        });
    });


</script>

